.container {
  display: flex;
  gap: 0.5rem;
  margin-bottom: 1rem;
}

.select {
  display: flex;
  height: 40px;
  width: 255px;
  background-color: #fff;
  border-radius: 5px;
  position: relative;
  box-shadow: var(--shadow-4);

  input,
  button {
    height: 100%;
    border: none;
    background-color: transparent;
  }

  input {
    width: 215px;
    vertical-align: middle;
    padding: 0 16px;
    font-family: "Poppins", sans-serif;

    &:focus {
      outline: none;
    }
  }
  select {
    width: 40px;
    vertical-align: middle;
    padding: 0 16px;
    font-family: "Poppins", sans-serif;

    &:focus {
      outline: none;
    }
  }

  button {
    width: 40px;
    cursor: pointer;
    font-size: 1.1rem;
    color: #8a8a8a;
  }
}


.version {
  cursor: pointer;
  &:focus {
    outline: none;
  }
  color: #8a8a8a;
  border: none;
  box-shadow: var(--shadow-4);
  background-color: #fff;
  padding-left: 8px;
  border-radius: 5px;
  height: 40px;
  width: 60px;
  -webkit-appearance: none;
  -moz-appearance: none;
  text-indent: 1px;
  text-overflow: "";


}

ul {
  position: absolute;
  width: 345px;
  top: 50px;
  left: -15px;

  z-index: 1;
  height: 660px;
  overflow-y: auto;
  border-radius: 5px;
  background-color: white;
  box-shadow: var(--shadow-4);
  &::-webkit-scrollbar {
    width: 8px;
  }

  &::-webkit-scrollbar-track {
    background: #fff;
  }

  &::-webkit-scrollbar-thumb {
    background: #8a8a8a;
    border-radius: 1rem;
  }

  li {
    height: 60px;
    display: flex;
    margin: 8px 8px;
    list-style: none;
    border-radius: 5px;
    align-items: center;
    box-shadow: var(--shadow-1);

    justify-content: space-between;
    padding: 0 8px;
    transition: 0.5s;

    &:not(:last-child) {
      border-bottom: 1px solid gainsboro;
    }

    &:hover {
      box-shadow: var(--shadow-3);
      cursor: pointer;
      background-color: #f8f8f8;
    }

    div.img {
      width: 70%;
      img {
        height: 50px;
      }
    }

    div.name {
      width: 100%;
      span {
        text-transform: capitalize;
        font-size: 0.9rem;
      }
    }
  }
}

.btn-open {
  animation: 0.2s on-btn-open ease-in-out;
  transform: rotate(0);
}

.btn-close {
  animation: 0.2s on-btn-close ease-in-out;
  transform: rotate(180deg);
}

.list-open {
  display: block;
}
.list-close {
  display: none;
}

.spinner {
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

@keyframes on-btn-open {
  0% {
    transform: rotate(180deg);
  }
  100% {
    transform: rotate(0);
  }
}

@keyframes on-btn-close {
  0% {
    transform: rotate(0);
  }
  100% {
    transform: rotate(180deg);
  }
}

@media (max-width: 375px) {
  ul {
    &::-webkit-scrollbar {
      display: none;
    }
  }
}
