.corpo {
  display: flex;
  flex-direction: column;
  height: 100%;

  main {
    height: 100%;
    flex-direction: column;
  }

}

.flip-next {
  animation: 1s flip-next ease-in-out;
}
.flip-previous {
  animation: 1s flip-previous ease-in-out;
}

@keyframes flip-next {
  from {
    transform: perspective(1000px);
  }
  to {
    transform: perspective(1000px) rotateY(-360deg);

  }
}
@keyframes flip-previous {
  from {
    transform: perspective(1000px);
  }
  to {
    transform: perspective(1000px) rotateY(360deg);

  }
}

