<div class="corpo">
  <app-header></app-header>
  <main class="flex-center-center">
    <app-select
      [filter]="true"
      [pokemons]="getPokemons"
      placeholder="Name or pokemon number"
      (pokemonFiltered)="selectValue = $event"
      (pokemonSelected)="getPokemon($event)"
      (genChanged)="getAllPokemons($event)"
    ></app-select>

    <pokemon-card [ngClass]="{
      'flip-next':  +previousPokemon < +pokemon.id,
      'flip-previous':  +previousPokemon > +pokemon.id
    }"
      (next)="getPokemon($event)"
      (previous)="getPokemon($event)"
      [pokemon]="pokemon"
    ></pokemon-card>
  </main>

  <app-footer></app-footer>
</div>
